{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint-config-floobits", "plugin:react/recommended"],
  "globals": {
    "atom": false,
    "document": false,
    "window": false
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "consistent-this": [1, "that"],
    "react/no-deprecated": [1],
    "react/no-is-mounted": [1],
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true
  }
}
