# See https://atom.io/docs/latest/creating-a-package#menus for more details
# 'context-menu':
#   '.overlayer':
#       'Open terminal here': 'term:open'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'term'
      'submenu': [
        { 'label': 'Open New Terminal in Right Pane', 'command': 'term:open-split-right' },
        { 'label': 'Open New Terminal in Bottom Pane', 'command': 'term:open-split-down' }
      ]
    ]
  }
]
