# See https://atom.io/docs/latest/creating-a-package#menus for more details
# 'context-menu':
#   '.overlayer':
#       'Open terminal here': 'term:open'

'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Term 2'
    'submenu': [
      {'label': 'Open New Terminal in New Tab', 'command': 'term2:open'}
      {'label': 'Open New Terminal in Right Pane', 'command': 'term2:open-split-right'}
      {'label': 'Open New Terminal in Bottom Pane', 'command': 'term2:open-split-down'}
      {'label': 'Open New Terminal in Top Pane', 'command': 'term2:open-split-up'}
      {'label': 'Open New Terminal in Left Pane', 'command': 'term2:open-split-left'}
    ]
  ]
]
'context-menu':
  '.term': [
    {
      'label': 'Copy'
      'command': 'term2:copy'
    }
    {
      'label': 'Paste'
      'command': 'term2:paste'
    }
  ]

  '.overlayer': [
    {
      'label': 'Term2: Pipe selection to last Terminal session'
      'command': 'term2:pipe-selection'
    }
    {
      'label': 'Term2: Pipe file path to the Terminal session'
      'command': 'term2:pipe-path'
    }
  ]
