# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-text-editor':
  'ctrl-alt-t': 'term2:open'
  'ctrl-alt-right': 'term2:open-split-right'
  'ctrl-alt-left': 'term2:open-split-left'
  'ctrl-alt-up': 'term2:open-split-up'
  'ctrl-alt-down': 'term2:open-split-down'

  'ctrl-k t t': 'term2:open'
  'ctrl-k t right': 'term2:open-split-right'
  'ctrl-k t left': 'term2:open-split-left'
  'ctrl-k t up': 'term2:open-split-up'
  'ctrl-k t down': 'term2:open-split-down'

  'cmd-k t t': 'term2:open'
  'cmd-k t right': 'term2:open-split-right'
  'cmd-k t left': 'term2:open-split-left'
  'cmd-k t up': 'term2:open-split-up'
  'cmd-k t down': 'term2:open-split-down'

'.term2':
  'cmd-c': 'term2:copy'
  'ctrl-c': 'term2:copy'
  'ctrl-insert': 'term2:copy'
  'cmd-v': 'term2:paste'
  'ctrl-v': 'term2:paste'
  'shift-insert': 'term2:paste'
